* {
    background-color: white;
    box-sizing: border-box;
    padding: 2px;
    margin: 5px;
}

body {
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(104, 57, 104);

}

a {
    text-decoration: none ;
    color: rgb(145, 145, 145);
    

}

p {
    font-size: 16px;

}

div {
        border: black 1px;
        border-style: solid;
       

}

header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 10px;

}

img {
    max-height: 150px;
    max-width: 150px;

}

footer {
    text-align: center;

}

.Nav h1 {
    font-size: 48px;

    
}

.Nav links {
    text-align: center;
    font-size: 32px;
    list-style-type: none;
    
}

.Nav li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin: 0px;

}

.Main {
    padding: 30px;


}

MainContent {
    
    

}

.Aboutme{
    background-color: white;
    height: 400px;
    
}

.Portfolio{
    height: 400px;
}

.Contact{
    height: 400px;
}

section {


}