* {
    background-color: white;
    box-sizing: border-box;
    padding: 2px;
    margin: 5px;
}

body {
    display: flex;
    flex-direction: column;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(104, 57, 104);
    

}

a {
    text-decoration: none ;
    color: rgb(145, 145, 145);
    

}

p {
    font-size: 16px;

}


header {
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    padding: 0px;

}

header img {
    max-height: 150px;
    max-width: 150px;
    padding-right: 10px;

}


footer {
    text-align: center;

}


.Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Nav h1 {
    font-size: 48px;
    text-align: center;

    
}

.Nav links {
    text-align: center;
    font-size: 32px;
    list-style-type: none;
    
}

.Nav li {
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    margin: 0px;

}

.Main {
    padding: 30px;
    

}

.mainphoto {
    padding: auto;
    background-size: cover;
    background-position: center;
    background-image: url(../images/DSC07623.jpeg);
    height: 400px;
    width: 100%; 
}

.Content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.Portfolio{
    border: black 1px;
        border-style: solid;
    justify-content: center;
    text-align: center;
    
}

.portcards {
    border: black 1px;
        border-style: solid; 
    justify-content: center;
    text-align: center;
    padding: 0px;
    margin: 20px;
}

.img {
    align-items: flex-start;
    justify-content: center;
    max-height: 200px;
}



